<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="LoginConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\UOW\CSIT314 - Software Development Methodologies\WebApplication1\WebApplication1\App_Data\Credentials.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>